<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.rumi.notekeeper">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShoppingEditor"></activity>
        <activity android:name=".PersonalEditor" />
        <activity android:name=".CreativesEditor" />
        <activity android:name=".BusinessNotesActivity" />
        <activity android:name=".BusinessNotes" />
        <activity android:name=".ShoppingLists" />
        <activity android:name=".PersonalNotes" />
        <activity android:name=".CreativeIdeas" />
        <activity android:name=".AddNote" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>